* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
}
.container {
    max-width: 500px;
    margin: 40px auto;
}
.header {
    padding: 20px;
    background: #f2f2f2;
    margin-bottom: 2rem;
}
.header__container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    text-decoration: none;
    font-weight: bold;
    color: #19ad8f;
}
.nav-auth {
    display: flex;
    gap: 5px;
}
.nav-auth__link {
    color: #19ad8f;
}
.title {
    font-size: 2em;
    text-align: center;
    margin-bottom: 30px;
}
.form-group {
    margin-bottom: 1rem;
}
input {
    width: 100%;
    padding: 10px;
}
button {
    padding: 10px 20px;
    border: none;
    background: #19ad8f;
    color: #fff;
    cursor: pointer;
}
.error {
    margin-top: 5px;
    color: tomato;
    font-size: .9rem;
    margin-left: 5px;
}